body{
 	font-family: 'Inter', sans-serif;
 }

 header{
	width: 100%;
	height: 100px;
	border: 1px solid red;
	padding: 22px 100px;
	position: sticky;
	top: 0;
	left: 0;
	background: white;
	z-index: 1;
	
}
.logo{
	display: inline;
	vertical-align: middle;
}
.nav li{
	display: inline;
}
.nav{
	margin: 0 195px;
}
.book-btn{
	padding: 13px 50px;
	background: #FF5403;

}
.main-img{
	width: 100%;
	height: 722px;
}
main{
	position: relative;

}
.text-wrapper{
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	width: 100%;
	margin-top: 300px;
}
h1{
	color: #FFF;

font-family: Inter;
font-size: 96px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 6.72px;
}
p{
	color: #FFF;

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.6px;
}

.line{
	display: inline;
	border: solid red;
	display: flex;
width: 1512px;
height: 454px;
padding: 108px 100px;
justify-content: space-between;
align-items: flex-start;
background: #19224D;
	

}
.Twitter{
	margin-top: 41px;
	width: 40px;
    height: 41px;
    background: url(<path-to-image>), lightgray 50% / contain no-repeat;
}
.Facebook{
	width: 40px;
    height: 41px;
    background: url(<path-to-image>), lightgray 50% / contain no-repeat;

}
.Vector{
	position: absolute;
	
	margin-bottom: 500px;
	text-align: center;
	width: 154.318px;
    height: 161.249px;
    flex-shrink: 0
    }
    .Vector.png{
    	width: 260.555px;
       height: 279.11px;
       flex-shrink: 0;
    }
    .Travel{
    	width: 443.175px;
        height: 63.443px;
        flex-shrink: 0;
        margin-bottom: 200px;
    }
    .content{
    	color: #696969;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.26px;
    }










